pyrofork==2.3.45
tgcrypto
pymongo
motor
marshmallow
umongo
requests
cinemagoer
httpx[http2]
bs4
datetime
pytz
wget
aiohttp
gTTS
googletrans==3.1.0a0
telegraph
psutil
unidecode
ytthumb
youtube_search
youtube_search_python
youtube-search-python
yt-dlp
youtube-dl
git+https://github.com/Joelkb/cinemagoer
python-dotenv
Heroku3
search_engine_parser
aiofiles
ffmpeg-python
ffmpeg
PyPDF2
ujson
pyshorteners
countryinfo
dnspython
python-math
Pillow
speedtest-cli
Mangandi
HorridAPI

tgcrypto
requests
aiohttp
img2pdf
asyncio
python-telegram-bot

lexica-api
bs4
datetime
pytz
wget
gTTS
googletrans==3.1.0a0
telegraph
psutil
unidecode
httpx
aiohttp
python-telegram-bot
beautifulsoup4
instaloader
googletrans==3.1.0a0
schedule==1.2.0
aiofiles
img2pdf
langdetect
asyncpg
openai==0.27.2
python-dotenv
psycopg2
google-api-python-client
emoji
textblob
